$fontSize: 12px;
$borderColor: #fcfcfc;

/* 链接颜色  */
$linkColor:lightblue;
body {
    font-size: $fontSize;
}
/* 布局 */
 .wrapper {
}
/* 
 * 组件panel
 */
 .panel {
    background: #fff;
    border: 1px solid $borderColor;
    .panel - heading {
        border - bottom: 1px solid $borderColor;
        background: lightgreen;
    }
    .panel - body {
        min - height: 200px;
    }
}
/* 
 * 设置链接全局样式
 */
 a {
    color:$linkColor;
    &:hover {
        color:drakten($linkColor, 10%);
    }
}
